@use 'sass:color';
@use '@material/theme/color-palette';

// Dark Theme - 여기서만 @use ... with 설정
@use '@material/theme/index' as theme with (
	$primary: #ff3e00,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	$background: #000,
	$error: color-palette.$red-700
);

// 다른 @material/theme는 with 없이 불러오기
@use '@material/theme' as mt;

@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/button/mdc-button';
@use '@material/dialog/mdc-dialog';
@use '@material/icon-button/mdc-icon-button';

html,
body {
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: theme.$background;
	color: theme.$on-surface;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
